body{
    overflow: hidden;
}

.fond{
    margin:auto;
    background-image:url("fond.jpg");
}

.menu{
    position:absolute;
    top:40%;
    left:50%;
    transform:translate(-50%,-50%);
    background-color:aliceblue;
    /* opacity: 0.9; */
    padding: 2em;
    text-align: center;
    width: 20vw;
    border-radius: 24px;
    /* border: 2px solid black; */
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.575), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.hive{
    font-family: "Brush Script MT", cursive;
    font-size: 75px
}

.bouton {
    background-color: #fff000;
    border-radius: 12px;
    color: #000;
    cursor: pointer;
    font-weight: bold;
    padding: 10px 15px;
    text-align: center;
    transition: 200ms;
    box-sizing: border-box;
    border: 0;
    font-size: 24px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.bouton:not(:disabled):hover,
.bouton:not(:disabled):focus {
    outline: 0;
    background: #f4e603;
    box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
}

.bouton:disabled {
    filter: saturate(0.2) opacity(0.5);
    -webkit-filter: saturate(0.2) opacity(0.5);
    cursor: not-allowed;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

footer{
    position: absolute;
    bottom: 0;
    width: 105vw;
    background-color: black;
    color: white;
    text-align:center;
    height:5vh;
}

.left{
    text-align: left;
}

.barre-droit{
    border-right: 1px solid black;
}

#tablier{
    /* background-color: burlywood; */
    background-image: url("table.jpeg");
    background-size:100%;
    margin: 0;
    position: absolute;
    top:2%;
    left:2%;
    width:75vw;
    height:85vh;
    border-radius: 24px;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.575), 0 6px 20px 0 rgba(0,0,0,0.19);
    overflow-y: hidden;
    overflow-x: hidden;
    cursor: grab;
}

#menuPions{
    /* background-color: burlywood; */
    background-image: url("table.jpeg");
    background-size: 150%;
    /* border: 5px solid black; */
    border-radius: 24px;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.575), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin: 0;
    top:1%;
    left:76%;
    position:absolute;
    width:23vw;
    height:auto;
}

#menuPions p{
    width:25%;
    box-sizing: border-box;
    padding-right: 1em;
    padding-left: 1em;
    text-align: center;
}

.pion{
    text-align: center;
}
.positionQP{
    top:88%;
    left:35%;
    position:absolute;
}

/* position du tchat */
.chat{
    position:absolute;
    top:60%;
    left:80%;
    transform: translateY(-50%);
  }
  
  /* zone du tchat */
  #messages{
    height:40vh;
    padding:1em;
    background-color:whitesmoke;
    overflow-y: scroll;
  }
  
  /* liste des messages */
  #messages li{
    list-style: none;
    margin-bottom: 0.5em;
  }

.hexagoneWhiteBorder {
    display: none;
}

.hexagoneReactive {
    display: block;
}

@media (max-width: 1600px){
    .ajustement{
        top:45%;
    }
    #tablier{
        top:5%;
        left:5%;
        width:65vw;
        height:80vh;
    }
    #menuPions{
        font-size: 0.9;
        left:73%;
        width:25vw;
    }
    #menuPions p{
        padding-right: 0.5em;
        padding-left: 0.5em;
    }
    .chat{
        top:65%;
    }
    #messages{
        height:30vh;
    }
}