body{
    overflow: hidden;
}

.fond{
    margin:auto;
    background-image:url("fond.jpg");
}

.menu{
    position:absolute;
    top:40%;
    left:50%;
    transform:translate(-50%,-50%);
    background-color:aliceblue;
    /* opacity: 0.9; */
    padding: 2em;
    text-align: center;
    width: 20vw;
    border-radius: 24px;
    /* border: 2px solid black; */
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.575), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.hive{
    font-family: "Brush Script MT", cursive;
    font-size: 75px
}

.bouton {
    background-color: #fff000;
    border-radius: 12px;
    color: #000;
    cursor: pointer;
    font-weight: bold;
    padding: 10px 15px;
    text-align: center;
    transition: 200ms;
    box-sizing: border-box;
    border: 0;
    font-size: 24px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.bouton:not(:disabled):hover,
.bouton:not(:disabled):focus {
    outline: 0;
    background: #f4e603;
    box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
}

.bouton:disabled {
    filter: saturate(0.2) opacity(0.5);
    -webkit-filter: saturate(0.2) opacity(0.5);
    cursor: not-allowed;
}

input[type=text],input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

footer{
    position: absolute;
    bottom: 0;
    width: 105vw;
    background-color: black;
    color: white;
    text-align:center;
    height:5vh;
}

.left{
    text-align: left;
}

.barre-droit{
    border-right: 1px solid black;
}

#tablier{
    /* background-color: burlywood; */
    background-image: url("table.jpeg");
    background-size:100%;
    margin: 0;
    position: absolute;
    top:1%;
    left:1%;
    width:98vw;
    height:93vh;
    border-radius: 24px;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.575), 0 6px 20px 0 rgba(0,0,0,0.19);
    overflow-y: hidden;
    overflow-x: hidden;
    cursor: grab;
}

#menuPions{
    /* background-color: burlywood; */
    background-color: white;
    /* background-image: url("table.jpeg"); */
    /* background-size: 150%; */
    /* border: 5px solid black; */
    border-radius: 24px;
    /* box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.575), 0 6px 20px 0 rgba(0,0,0,0.19); */
    margin: 0;
    top: 3%;
    left: 2%;
    position: absolute;
    width: 6vw;
    height: 15vh;
    transition: 0.5s;
    padding-bottom: 0;
}

#menuPions:hover{
    padding-bottom:35em;
    transition: 0.25s;
}

#menuPions p{
    /* width:25%; */
    /* box-sizing: border-box; */
    /* padding-right: -1em; */
    padding-left: 0.4em;
    opacity: 0;
    text-align: center;
    height:0%;
    transition: 0.25s;
}

#menuPions p#pionAbeille:hover {
    animation: abeille 1.5s;
}

@keyframes abeille{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: translateX(65px);
    }
    100%{
        transform: rotate(0deg);
    }
}

#menuPions p#pionFourmi:hover {
    animation: fourmi 1.5s;
}

@keyframes fourmi{
    0%{
        transform: rotate(0deg);
    }
    33%{
        transform: translateY(65px) translateX(65px);
    }
    66%{
        transform: translateX(65px);
    }
    100%{
        transform: rotate(0deg);
    }
}

#menuPions:hover p{
    opacity: 1;
    height:68%;
    transition: 0.5s;
}

.pion{
    text-align: center;
}
.positionQP{
    top:88%;
    left:35%;
    position:absolute;
}

/* position du tchat */
.chat{
    background-color:white;
    opacity: 0.7;
    border-radius: 24px;
    padding:8px;
    position:absolute;
    top:75%;
    left:80%;
    /* width:10vw; */
    /* height:20vh; */
    transform: translateY(-50%);
    transition: 1s;
}

.chat:hover{
    opacity:1;
    top:60%;
    left:80%;
    /* width:auto; */
    /* height:auto; */
    transition: 1s;
}
  
/* zone du tchat */
#messages{
    height:10vh;
    padding:1em;
    background-color:whitesmoke;
    overflow-y: scroll;
    transition: 1s;
}

.chat:hover #messages{
    height:40vh;
    transition: 1s;
}

/* liste des messages */
#messages li{
    list-style: none;
    margin-bottom: 0.5em;
}

.hexagoneWhiteBorder {
    display: none;
}

.hexagoneReactive {
    display: block;
}

@media (max-width: 1600px){
    .ajustement{
        top:45%;
    }
    /* #tablier{
        top:5%;
        left:5%;
        width:65vw;
        height:80vh;
    } */
    /* #menuPions{
        font-size: 0.9;
        left:73%;
        width:25vw;
    }
    #menuPions p{
        padding-right: 0.5em;
        padding-left: 0.5em;
    } */
    /* .chat{
        top:65%;
    }
    #messages{
        height:30vh;
    } */
}